<a href="https://colab.research.google.com/github/Bradlin1/Brad-Lin/blob/main/%E3%80%8Cfor_loops_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
#Ex1
for t in range(1,11):
  t*=2
  print(t)

2
4
6
8
10
12
14
16
18
20

## **bold text**

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
#Ex2
word = input("enter a word: ").lower()
vowel = "aeiou"
for i in word:
  if i in vowel:
    print(i)

enter a word: ERTYuio
e
u
i
o

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [ ]:
list1=input("Create a list: ")
listmaker=list1.split()
for i in range(len(listmaker)-1, -1, -1):
  print(listmaker[i])

Create a list: My name is brad
brad
is
name
My

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [ ]:
#Ex4
odds = 0
nums = (input("enter some number:"))
l=nums.split()
listmaker=[int(item) for item in l ]
for i in range(len(listmaker)):
    if listmaker[i] % 2 != 0:
        odds += 1
print(f"there is {odds} odds")

enter some number:1 2 3 4 5
there is 3 odds

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [ ]:
#Ex5
grades = input("enter ur grades:")
l = grades.split()
listmaker = [int(item) for item in l]
for i in listmaker:
  if i <70:
    print("D")
  elif i <80:
    print("C")
  elif i <90:
    print("B")
  else:
    print("A")

enter ur grades:78 789 12 45 78 60
C
A
D
D
C
D

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [2]:
#Ex6
word_list = ["dfgh", "sdtyuihgvc", "fyujftyui", "datyytftyute", "ftyuikjhgfty"]


for word in word_list:
    print(f"the word is: {word}, the length is: {len(word)}")

the word is: dfgh, the length is: 4
the word is: sdtyuihgvc, the length is: 10
the word is: fyujftyui, the length is: 9
the word is: datyytftyute, the length is: 12
the word is: ftyuikjhgfty, the length is: 12

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [3]:
#Ex7
number_list = [51, -232, 1450, -227, 3, 5432, 824, -14567]

for number in number_list:
    if number > 0:
        print(number)

51
1450
3
5432
824

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [4]:
#Ex8
ctemps = [0, 25, 100, -10, 36.5]
ftemps = []
for c in ctemps:
    f = (c * 9/5) + 32
    ftemps.append(f)
for index, f in enumerate(ftemps):
    print(f"{ctemps[index]}°C is {f}°F")

0°C is 32.0°F
25°C is 77.0°F
100°C is 212.0°F
-10°C is 14.0°F
36.5°C is 97.7°F

9. **Name Initials:** For a list of full names, print the initials of each name.

In [5]:
#Ex9
full_names = ["Brad Lin", "Luke Hsu", "David Kim", "Aaron Lin", "Michael Li"]

for names in full_names:
    initials = ''.join([word[0].upper() for word in names.split()])
    print(f"Name: {names}, Initials: {initials}")

Name: Brad Lin, Initials: BL
Name: Luke Hsu, Initials: LH
Name: David Kim, Initials: DK
Name: Aaron Lin, Initials: AL
Name: Michael Li, Initials: ML

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [ ]:
#Ex10
total_sum = 0

for number in range(1, 101):
    total_sum += number
print("The sum of numbers from 1 to 100 is:", total_sum)